body {
	align-items: center;
	display: grid;
	grid-template-columns: 5rem 1fr 1fr;
	grid-template-rows: 5rem 1fr 1fr;
	grid-template-areas:
		"logo editor marginalia"
		"text-tools editor marginalia"
		"tip-tools editor marginalia";
	grid-gap: 1rem;
	box-sizing: border-box;
	margin: 0;
	padding: 1rem;
	height: 100vh;
	width: 100vw;
}
body > .logo {
	grid-area: logo;
}
body > .tip-tools {
	grid-area: tip-tools;
}
body > .text-tools {
	grid-area: text-tools;
}
body > .editor {
	grid-area: editor;
}
body > .marginalia {
	grid-area: marginalia;
}
body > .marginalia > div {
	border: 1px solid #ddd;
	padding: 1rem;
	margin: 1rem 0;
}
body > .marginalia > div > .citation {
	text-align: right;
	color: #888;
	font-size: 80%;
}
